.about{
    width:100%;
    height:fit-content;
    min-height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    overflow: hidden;
    flex-flow: wrap;
}
.col-1{
    width:380px;
    height:450px;
    overflow: hidden;
    border: 1px solid white;
    margin :20px;
}
.nitw{
    width:380px;
    height:500px;
    background-size: contain;
    transition: 1s;
}
.nitw:hover{
    transform: scale(1.1);
}
.col-2{
    width:60%;
}
.col-2 h1{
    font-size: 40px;
    padding: 10px;
}
.col-2 p{
    color: rgb(171, 176, 180);
    padding: 10px;
}
.tab-cont1{
    display: flex;
}
.tab-cont1 p{
    padding-right: 30px;
    color: white;
}
.tab-cont2{
    padding: 10px;
}
.tab-cont2 ul{
    list-style: none;
}
.tab-cont2 li{
    padding-top: 10px;
    color: rgb(171, 176, 180);
}
.tab-cont2 span{
    color: #ff004f;
}
.list{
    display: none;
}
.list.active{
    display: block;
}
p.red{
    color: rgb(179, 26, 26);
}
.skillpic{
    width:50px;
    height: 50px;
    margin: 20px;
    transition: 0.5s;
}
.skillpic:hover{
    transform: scale(1.5);
} 
.style{
    text-align: center;
    display: flex;
    flex-flow: wrap;
}
.abclick{
    position: relative;
}
.abclick::after{
    content: '';
    width:0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left:10px;
    bottom:4px;
    transition: 0.5s;
}
.abclick.line::after{
    width:40%;
}
@media only screen and (max-width:600px){
    .about{
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        width:100%;
        height: 100vh;
    }
    .col-1{
        width: 100%;
        height:200px;
        text-align: center;
        border:none;
    }
    .nitw{
        width:200px;
        height:200px;
    }
    .col-2{
        width:100%;
    }
    .skillpic{
        width:30px;
        height:30px;
    }
    .style li{
        padding-top: 0%;
    }
    .col-2 p{
        font-size: 14px;
    }
    .col-2 h1{
        font-size: 30px;
    }
    .tab-cont2{
        overflow-x: scroll;
    }
    .list li{
        font-size: 14px;
    }
}