*{
    margin:0%;
    padding: 0%;
    background: #080808;
    color:white;
    font-family:sans-serif;
  }
.header{
  width: 100%;
  height: 100vh;
}
.manali{
  width: 100%;
  height:70px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.header1{
  font-size: 30px;
  margin-left:20px ;
  transition: 0.5s;
}
.header1:hover{
  transform: translateX(10px);
}
.header11{
  font-size: 50px;
  color: #ff004f;
}
.uluu{
  display: flex;
  justify-content: space-evenly;
}
.listuu{
  list-style: none;
  margin-left: 30px;
}
.top{
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.top::after{
  content: '';
  width:0;
  height:3px;
  background: #ff004f;
  position: absolute;
  left:0;
  bottom:-6px;
  transition: 0.5s;
}
.top:hover::after{
  width:70%;
}
.part{
  width:100%;
  height:calc(100vh - 70px);
  display: flex;
  justify-content:space-around;
}
.part1{
  width: 45%;
  margin-left: 20px;
  background:transparent;
}
.part2{
  width:425px;
  height:calc(100vh - 70px);
  overflow: hidden;
}
.header-pic{
  width:425px;
  height:540px;
  background-size: cover;
  transition: 1s;
}

.part11{
  position: relative;
  top:35%;
  left:31.5%;
  background:transparent;
}
.part111{
  font-size: 25px;
  position: relative;
  left: 3px;
  color: rgb(171, 176, 180);
  background:transparent;
}
.part112{
  font-size: 60px;
  margin-top: 20px;
  font-weight: 500;
  background:transparent;
}
.part1121{
  color: #ff004f;
  background:transparent;
}
html{
  scroll-behavior: smooth;
}
.menu{
  font-size: 30px;
  margin-right: 20px;
  display: none;
}
.closebtn{
  font-size: 30px;
  margin-right: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff004f;
  display: none;
}
@media only screen and (max-width:600px) {
  .closebtn{
    font-size: 30px;
    margin-right: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff004f;
    display: block;
  }
  .menu.disactive{
    position: relative;
    display: none;
  }
  .menu.active{
    display: block;
    position: relative;
  }
  .header1{
    font-size: 30px;
  }
  .uluu.disactive{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:200px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ff004f;
    overflow: hidden;
  }
  .uluu.active{
    display: none;
  }
  .listuu{
    background-color: #ff004f;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .top{
    background-color: #ff004f;
  }
  .manali{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  /* pic part*/
  .part{
    width:100%;
    overflow:hidden;
  }
  /* text part */
  .part1{
    background: transparent;
    margin: 0%;
  }
  .part11 , .part112 ,  .part1121{
    background: transparent;
  }
  .part111 {
    background:transparent;
    font-size: 15px;
  }
  .part112{
    font-size: 40px;
  }
}
@media only screen and (width<450px){
  .part1{
    position: absolute;
    left:10px;
    bottom:20px;
    z-index: 1;
  }
  .uluu{
    z-index: 4;
  }
}

@media only screen and (max-height:400px){
  .part112{
    font-size: 40px;
  }
  .part111 {
    font-size: 15px;
  }
}
@media only screen and (height>610px){
  .header-pic{
    height:calc(100vh - 70px);
    width:500px;
  }
  .part2{
    width:500px;
  }
}
@media only screen and (height>1000px){
  .header-pic{
    width:700px;
  }
  .part2{
    width:700px;
  }
}